<img src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png" alt="500" width="550" align="left"/>

In [1]:
import pandas as pd

In [2]:
a = [1, 7, 2]

myvar = pd.Series(a)  # auto-labelled with indices by default

print(myvar)

0    1
1    7
2    2
dtype: int64

In [3]:
print(myvar[0])

1

In [4]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])  # we can customize the labels (indices)

print(myvar)

x    1
y    7
z    2
dtype: int64

In [5]:
print(myvar["y"])

7

In [9]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index=["Mon","Tue","Wed"])  # create a dataframe object from a dictionary: each key is a column variable, and each value is the rows in that column

print(df)

     calories  duration
Mon       420        50
Tue       380        40
Wed       390        45

<img src="https://miro.medium.com/max/1050/1*CgAWzayEQY8PQuMpRkSGfQ.png" alt="500" width="650" align="left"/>

In [11]:
print(df.iloc[0])  # iloc refers to the standard numerical indices (0,1,2,...)

calories    420
duration     50
Name: Mon, dtype: int64

In [12]:
print(df.loc["Mon"])  # loc refers to the customized labels if we added them

calories    420
duration     50
Name: Mon, dtype: int64

In [14]:
data = {
  "calories": [420, 380, 390, 342, 653, 281],
  "duration": [50, 40, 45, 43, 23, 94]
}
df = pd.DataFrame(data)

In [15]:
df.head()  # first few rows

   calories  duration
0       420        50
1       380        40
2       390        45
3       342        43
4       653        23

In [16]:
df.head(6)  # specify how many rows to show

   calories  duration
0       420        50
1       380        40
2       390        45
3       342        43
4       653        23
5       281        94

In [17]:
df.iloc[0, :]

calories    420
duration     50
Name: 0, dtype: int64

In [18]:
df.iloc[0:2]

   calories  duration
0       420        50
1       380        40

In [19]:
df.iloc[:, 0]

0    420
1    380
2    390
3    342
4    653
5    281
Name: calories, dtype: int64

In [22]:
df.loc[0, 'calories']

420

In [23]:
df.loc[:,'duration']

0    50
1    40
2    45
3    43
4    23
5    94
Name: duration, dtype: int64

In [24]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [25]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [26]:
df = pd.read_csv('test.csv')  # read a csv file and automatically create a dataframe from it (read_excel if we have an excel etc.)
# we can add index_col to specify which column has the indices in the file

print(df)  # read_csv automatically considers the first row as the column names

     name     surname  age
0  thomas  bellington   21
1  robert      janish   34
2  alfred       green   46

In [27]:
Biodata = {'Name': ['John', 'Emily', 'Mike', 'Lisa'],
        'Age': [28, 23, 35, 31],
        'Gender': ['M', 'F', 'M', 'F']
        }
df = pd.DataFrame(Biodata)

df.to_csv('Biodata.csv', index=False)  # save the dataframe to a CSV file (to_excel to convert to excel file etc.)

In [28]:
Biodata = {'Name': ['John', 'Emily', 'Mike', 'Lisa'],
        'Age': [28, 23, 17, 31],
        'Gender': ['M', 'F', 'M', 'F']
        }
df = pd.DataFrame(Biodata)

def verify_adult(num):
    if num<18:
        return "Underage"
    else:
        return "Adult"

df['Adult'] = df['Age'].apply(verify_adult)  # add a new column 'Adult' in the dataframe based on which ages satisfy the condition in the apply()

df

    Name  Age Gender     Adult
0   John   28      M     Adult
1  Emily   23      F     Adult
2   Mike   17      M  Underage
3   Lisa   31      F     Adult

In [30]:
# normal function
def square(x):
    return x * x

# lambda function
lambda_square = lambda x : x * x
                 #lambda argument: expression to return

square(5)
lambda_square(5)

(lambda x : x * x)(5)  # compact version of a lambda function, without pre-assigning the function  -->  (lambda function)(arguments)
# this compact method does NOT save the function in memory, it's just temporary in that line

25

In [31]:
# more advanced uses of lambda functions
def myfunc(n):
    return lambda a : a * n

double = myfunc(2)

triple = myfunc(3)

In [33]:
print(double(5))

10

In [34]:
print(triple(5))

15

In [35]:
z = lambda x,y : x*y + 1  # lambda functions can take multiple arguments like normal functions

print(z(2,3))

7

In [36]:
Biodata = {'Name': ['John', 'Emily', 'Mike', 'Lisa'],
        'Age': [28, 23, 17, 31],
        'Gender': ['M', 'F', 'M', 'F']
        }
df = pd.DataFrame(Biodata)

# pass function to apply to create new column
df['Adult'] = df['Age'].apply(lambda x : "Underage" if x < 18 else "Adult")

df

    Name  Age Gender     Adult
0   John   28      M     Adult
1  Emily   23      F     Adult
2   Mike   17      M  Underage
3   Lisa   31      F     Adult